@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif; */
}
/* RECIPE */
.recipe-section {
  max-width: 120rem;
  margin: 3rem auto;
  margin-bottom: 5rem;
}
.recipe-heading {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.recipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 8rem;
}
.super-img {
  width: 100%;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  .recipe {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
  .recipe {
    grid-template-columns: repeat(1, 1fr);
  }
}
